<div class="team-carousel">
    <div class="team-carousel__box">
        <h1 class="team-carousel__title">Team</h1>
        <div class="team-carousel__divider"></div>
        <h2 class="team-carousel__subtitle">These people create the shows <span class="team-carousel__span">you
                love</span>.</h2>
    </div>
    <div class="team-carousel__container carousel">
        <ul class="carousel__track">
            <li class="carousel__slide">
                <img class="carousel__image" src="img/photo-of-douglas-firt.png" alt="Photo of Douglas Firt">
                <p class="carousel__caption">Douglas Firt</p>
            </li>
            <li class="carousel__slide">
                <img class="carousel__image" src="img/photo-of-tom-smith.png" alt="Photo of Tom Smith">
                <p class="carousel__caption">Tom Smith</p>
            </li>
            <li class="carousel__slide">
                <img class="carousel__image" src="img/photo-of-ann-keller.png" alt="Photo of Ann Keller">
                <p class="carousel__caption">Ann Keller</p>
            </li>
            <li class="carousel__slide">
                <img class="carousel__image" src="img/photo-of-susan-johnson.png" alt="Photo of Susan Johnson">
                <p class="carousel__caption">Susan Johnson</p>
            </li>
            <li class="carousel__slide-join">
                <img class="carousel__image" src="img/astronaut-in-space-suit.jpeg"
                    alt="American astronaut in a white space suit">
                <a class="carousel__caption" href="#footer__main-list-link">Join our team →</a>
            </li>
        </ul>
    </div>
    <button class="team-carousel__button team-carousel__button--left">←</button>
    <button class="team-carousel__button team-carousel__button--right">→</button>

    <div class="team-carousel__nav">
        <button class="team-carousel__indicator team-carousel__indicator--active" type="button"
            data-slide-to="0"></button>
        <button class="team-carousel__indicator team-carousel__indicator--active" type="button"
            data-slide-to="1"></button>
        <button class="team-carousel__indicator team-carousel__indicator--active" type="button"
            data-slide-to="2"></button>
        <button class="team-carousel__indicator team-carousel__indicator--active" type="button"
            data-slide-to="3"></button>
        <button class="team-carousel__indicator team-carousel__indicator--active" type="button"
            data-slide-to="4"></button>
    </div>





</div>